{% extends 'template.html.twig' %}

{# test commentaire #}

{% block blockBody %}


    {% block pageTitle%}
        Liste des todos :
    {% endblock %}
        <ol class="list-group">
            {% for name, content in app.session.get('tabToDo') %}
                <li class="list-group-item">
                    {{ name }} : {{ content }}
                </li>
            {% endfor %}
        </ol>
{% endblock %}

{% block title %}
    Todo
{% endblock %}