{#
{% extends 'template.html.twig' %}

{% block blockBody %}
<div>
    #}
    <p>Hello {{ name | capitalize}} {{ firstname | capitalize }} <img width="50" height="50" src="{{ asset('assets/images/') ~ path | defaultImage}}" alt="image"></p>
{# </div>
{% endblock %} #}